
#soruAlani,button,#paraOdulListesi{
    margin-left:100px;
    margin-right:100px; 
    border:1px solid black;
}
body{
    background-color: #898AA6;
}


#paraOdulListesi{
    background-color: #1C3879;
    border: 1px solid #E8AA42;
    color: #FFC23C;
    font-size: 30px;     
    list-style-type: none;
    margin-top:25px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 80px;
    width: 400px;
}


#odul{
    margin-top:150px;
    padding:20px;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    border: 7px solid aqua;
    color:white;
}
#soruAlani{
    margin-top:25px;
    width:700px;
    padding:10px;
    color:white;
    background:#1C3879;
}


.btn{
    margin-right: auto;
    margin-bottom:5px;
    padding: 10px;
}

.btn-text{
    color:white;
    background:#1C3879;
}


.btn:hover{
color:#E8AA42
}

.text-white:{
    color:text
}